body {
  color: black;
  /* Native fonts for better perf */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/**************
*
HEADER
*
***************/

header {
  text-align: center;
  padding: 24px 0;
  height: 100px;
  border-bottom: 1px solid black;
}

header h1 {
  font-size: 36px;
}

header h2 {
  font-size: 14px;
}

/**************
*
CONNECT TWITTER
*
***************/

section.twitter-connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 450px;
  height: calc(100vh - 100px);
}

.twitter-connect .instruction {
  line-height: 40px;
}

.twitter-connect form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.twitter-connect form label.at {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  line-height: 60px;
  text-align: center;
}

.twitter-connect form input.search {
  flex: 1;
  height: 60px;
  padding: 0 14px;
  line-height: 60px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.twitter-connect form input.go {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  cursor: pointer;
}

/**************
*
USER PAGE
*
***************/

.container {
  width: 900px;
  margin: 20px auto;
}

.user-welcome {
  font-size: 48px;
  font-weight: bold;
}

/**************
*
FORECAST CARD
*
***************/

.city {
  border: 1px solid black;
  width: 900px;
  margin: 30px auto;
}

.location-card {
  display: flex;
  flex-direction: row;
}

.city .city-name {
  line-height: 64px;
  text-align: center;
  display: block;
  border-bottom: 1px solid black;
}

.location-card .label {
  border-bottom: 1px solid black;
  text-transform: uppercase;
  line-height: 20px;
  padding: 0 14px;
}

.location-card .friends {
  width: 25%;
  border-right: 1px solid black;
}

.location-card .friends .list {
  padding: 10px 14px;
  line-height: 20px;
  height: 200px;
  overflow-y: scroll;
}

.location-card .friends .list .name:not(:last-child) {
  margin-bottom: 10px;
}

.location-card .forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}

.location-card .forecast .day {
  width: 25%;
  height: 100%;
  border-right: 1px solid black;
}

.location-card .forecast .day-forecast {
  width: 100%;
  height: calc(100% - 20px);
  padding: 10px 14px;
  line-height: 20px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location-card .forecast .day-forecast .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 14px;
  text-align: left;
  flex: 1;
  height: 180px;
  background-image: url("../gifs/sun.gif");
  background-size: cover;
  color: white;
  border-right: 1px solid white;
}

.location-card .forecast .day-forecast:last-child {
  border: 0;
}
